assets/html/main.pug

nav.topNav("*ngIf"="isMobile==true && !showSplash && queries[0].set!=null" role="navigation")
  .uk-align-left.closeBtn('(click)'="closeQuery(query)" "*ngIf"="queries[0].set!=null" tabindex="1" role="button")
    i.fa.fa-chevron-left
    |Back


main.splash.uk-container.padding-side-0.scrollable('[ngClass]'="{'isMobile': isMobile}" )
    a#theTop(aria-label="top")
    .grid-container.padding-side-0()
      .grid-100('[ngClass]'="{'parentPad': showSplash && isMobile}")

        //============== SPLASH PAGE =================
        header.splashPage(*ngIf="(showSplash && isMobile) && isPortrait" role="banner")
          .logo(title="Off Campus logo")
          .blurb.mobile.overlay-1
            .padded
              //h3.text-center(style="font-weight:100") Monash University's

              p.mobile-alt.text-center(style="font-size:120%")
              p.mobile-alt.text-center(style="font-size:90%")

              br
              .splashBar
                a('(click)'="showSplash=false;dimBg()" aria-label="Start" title="Start" role="button" href="#")
                  i.fa.fa-chevron-down
            br
            br
          br
          br
          .monash-logo



        //============== MAIN  =================
        .main(*ngIf="!showSplash || !isMobile" )
          header.blurb(*ngIf="isMobile!=true" role="banner")

            h3.text-center Monash University's
            .logo(title="OFF CAMPAS Limps logo")

            p.padded.mobile-alt.text-center
              a('(click)'="goEdit()" "*ngIf"="service.currentQuery && service.currentQuery.set && service.editable") [EDIT]
              a('(click)'="loadLocal()" "*ngIf"="service.currentQuery && service.currentQuery.set && service.editable") [LOAD]
              a('(click)'="saveLocal()" "*ngIf"="service.currentQuery && service.currentQuery.set && service.editable") [SAVE]

          section.white.block-center#opener(*ngIf="!service.userValid()")
            h3.white.text-center(style="background-color:#000;height:38px") It's an Incident - what will you do straight away?

            p.text-center The following response protocols are the actions you are required to implement during an incident.
            .generic

              .grid-100
                div O
                div
                  p Organise
                div
                  p Organise your immediate safety and team safety (eg First aid, 000)
              .grid-100
                div F
                div
                  p Facts
                div
                  p Facts Collect immediate facts about the incident
              .grid-100
                div F
                div
                  p Find your manager
                div
                  p Report to your event manager on what has happened as soon as you can
                p &nbsp;

              .grid-100
                div C
                div
                  p Communicate
                div
                  p Communicate with your team on actions to take
              .grid-100
                div A
                div
                  p Act
                div
                  p Act on instructions from emergency services and your senior Manager
              .grid-100
                div M
                div
                  p Media
                div
                  p Do not speak with media, the public, external parties or via social media on the incident
              .grid-100
                div P
                div
                  p Prepare
                div
                  p Prepare to relocate to an alternate location if needed
              .grid-100
                div U
                div
                  p Understand
                div
                  p Understand how you and your team are feeling. Seek appropriate support
              .grid-100
                div S
                div
                  p Summarise
                div
                  p Summarise the incident and complete the incident report

            section.grid-100.text-center#splashNumbers(aria-label="Emergency numbers" )
              br
              p.hide-on-desktop &nbsp;
              h4.text-center.white Emergency Numbers

              .category-item-square
                .ci-block.wideMenu()
                  .ci-text() Main Number <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:9902 7777">9902 7777</a>

            p.hide-on-desktop &nbsp;
            .grid-100.text-center('*ngIf'="service.userValid()==false")
              br
              p You are required to login to access further information.
              hr
              input('[(ngModel)]'="service.userPass" aria-label="Enter password to view further content.")

          .lists#navMen(*ngIf="service.userValid()==true" )
            .aria(role="heading" aria-level="1") Main menu
            .no-pad-margin('*ngFor'="let q of queries")
              div('*ngIf'="(q.set || q.choose==true) && q.show==true" '[ngClass]'="{'category-item-square': q.id==0 && q.set==null}")
                category-list.grid-50.mobile-grid-100('[query]'="q", '(change)'="handleUpdate($event)", '[ngClass]'="{'solo': q.choose==false && (q.set && q.set.forceWide==true), 'mainMenu':q.id==0}")


        //============== EDITOR PAGE =================
        div.clearfix.editPanel(*ngIf="!isMobile && (service.currentQuery && service.currentQuery.set && service.editMode==true)" style="position: absolute;left: 0px;top: 50px;width: 410px;")

          .grid-100.bg-white(style="padding:8px")
            .grid-100
              label Name
              input(style="font-size:18px;font-weight:300;" '[(ngModel)]'="service.currentQuery.set.name" )
              label CSS Code
              input(style="font-size:18px;font-weight:300;" '[(ngModel)]'="service.currentQuery.set.part" )
              label HTML file
              input(style="font-size:18px;font-weight:300;" '[(ngModel)]'="service.currentQuery.set.html" )
              br
              br
              label.grid-30 Parent
              select('[(ngModel)]'="service.targetParent" style="width:100%" '(change)'="service.moveCategory()")
                option('*ngFor'="let cl of service.categoriesList", '[ngValue]'="cl", '[ngClass]'="{'lv0': cl.level==0,'lv1': cl.level==1,'lv2': cl.level==2}") {{spacer(cl.level)}}{{cl.name}}
              label.grid-30 Icon path
              input.grid-70('[(ngModel)]'="service.currentQuery.set.icon" style="")
              label.grid-30 Wide Panel
              input.grid-10.suffix-60('[(ngModel)]'="service.currentQuery.set.forceWide" type="checkbox" style="")
              label.grid-30 Major Incident
              input.grid-10.suffix-60('[(ngModel)]'="service.currentQuery.set.major" type="checkbox" style="")
              label.grid-30 Two lines
                input.grid-10.suffix-60('[(ngModel)]'="service.currentQuery.set.twoLines" type="checkbox" style="")

            .grid-100
              br
              h5.grid-100(style="margin:0") Subcategories
              ul(style="list-style:none;padding:0;margin:0")
                li.grid-100(*ngFor="let c of service.currentQuery.set.subcategories; let i=index")
                  input.grid-70([(ngModel)]="c.name")
                  .grid-30
                    a('(click)'="service.removeItem(i)" style="margin-right:8px") Remove
                    a('(click)'="service.moveItem(service.currentQuery.set.subcategories,i,-1)" style="margin-right:4px")
                      i.fa.fa-chevron-up
                    a('(click)'="service.moveItem(service.currentQuery.set.subcategories,i,1)")
                      i.fa.fa-chevron-down

            hr



            a((click)="service.addItem()") Add New Category
            span &nbsp;|&nbsp;
            a((click)="service.dumpJson()") Dump JSON

            div('*ngIf'="service.currentQuery.set.part=='.l1.sub.otherNumbers'")
              div(*ngFor="let num of service.appGlobals.numbers.other, let i=index")
                .grid-100
                  input.grid-60([(ngModel)]="num.label")
                  input.grid-60([(ngModel)]="num.ph")
                  a.grid-10('(click)'="service.removeNumber(i)") Remove
                hr
              a('(click)'="service.addNumber()") Add Phone Number
              p NOTE: You will need to navigate back then return to Other numbers to see your modifications.
            textarea('[ngModel]'="categoryData")

        .clearfix
        //============== FOOTER PAGE =================
        div('*ngIf'="showSplash==false || isMobile==false")
          br.hide-on-desktop
          br
          br
          .footer.text-center('*ngIf'="queries[0] && !queries[0].set || isMobile" role="contentinfo")
            img(src="assets/images/logo/monash.png" alt="Monash University logo")
            p &copy; Monash University 2017
        .clearfix

assets/html/main.html
<nav class="topNav" *ngIf="isMobile==true &amp;&amp; !showSplash &amp;&amp; queries[0].set!=null" role="navigation"><div class="uk-align-left closeBtn" (click)="closeQuery(query)" *ngIf="queries[0].set!=null" tabindex="1" role="button"><i class="fa fa-chevron-left"></i>Back</div></nav><main class="splash uk-container padding-side-0 scrollable" [ngClass]="{'isMobile': isMobile}"><a id="theTop" aria-label="top"></a><div class="grid-container padding-side-0"><div class="grid-100" [ngClass]="{'parentPad': showSplash &amp;&amp; isMobile}"><!--============== SPLASH PAGE =================--><header class="splashPage" *ngIf="(showSplash &amp;&amp; isMobile) &amp;&amp; isPortrait" role="banner"><div class="logo" title="Off Campus logo"></div><div class="blurb mobile overlay-1"><div class="padded"><!--h3.text-center(style="font-weight:100") Monash University's--><p class="mobile-alt text-center" style="font-size:120%;"></p><p class="mobile-alt text-center" style="font-size:90%;"></p><br/><div class="splashBar"><a (click)="showSplash=false;dimBg()" aria-label="Start" title="Start" role="button" href="#"><i class="fa fa-chevron-down"></i></a></div></div><br/><br/></div><br/><br/><div class="monash-logo"></div></header><!--============== MAIN  =================--><div class="main" *ngIf="!showSplash || !isMobile"><header class="blurb" *ngIf="isMobile!=true" role="banner"><h3 class="text-center">Monash University's</h3><div class="logo" title="OFF CAMPAS Limps logo"></div><p class="padded mobile-alt text-center"><a (click)="goEdit()" *ngIf="service.currentQuery &amp;&amp; service.currentQuery.set &amp;&amp; service.editable">[EDIT]</a><a (click)="loadLocal()" *ngIf="service.currentQuery &amp;&amp; service.currentQuery.set &amp;&amp; service.editable">[LOAD]</a><a (click)="saveLocal()" *ngIf="service.currentQuery &amp;&amp; service.currentQuery.set &amp;&amp; service.editable">[SAVE]</a></p></header><section class="white block-center" id="opener" *ngIf="!service.userValid()"><h3 class="white text-center" style="background-color:#000;height:38px;">It's an Incident - what will you do straight away?</h3><p class="text-center">The following response protocols are the actions you are required to implement during an incident.</p><div class="generic"><div class="grid-100"><div>O</div><div><p>Organise</p></div><div><p>Organise your immediate safety and team safety (eg First aid, 000)</p></div></div><div class="grid-100"><div>F</div><div><p>Facts</p></div><div><p>Facts Collect immediate facts about the incident</p></div></div><div class="grid-100"><div>F</div><div><p>Find your manager</p></div><div><p>Report to your event manager on what has happened as soon as you can</p></div><p>&nbsp;</p></div><div class="grid-100"><div>C</div><div><p>Communicate</p></div><div><p>Communicate with your team on actions to take</p></div></div><div class="grid-100"><div>A</div><div><p>Act</p></div><div><p>Act on instructions from emergency services and your senior Manager</p></div></div><div class="grid-100"><div>M</div><div><p>Media</p></div><div><p>Do not speak with media, the public, external parties or via social media on the incident</p></div></div><div class="grid-100"><div>P</div><div><p>Prepare</p></div><div><p>Prepare to relocate to an alternate location if needed</p></div></div><div class="grid-100"><div>U</div><div><p>Understand</p></div><div><p>Understand how you and your team are feeling. Seek appropriate support</p></div></div><div class="grid-100"><div>S</div><div><p>Summarise</p></div><div><p>Summarise the incident and complete the incident report</p></div></div></div><section class="grid-100 text-center" id="splashNumbers" aria-label="Emergency numbers"><br/><p class="hide-on-desktop">&nbsp;</p><h4 class="text-center white">Emergency Numbers</h4><div class="category-item-square"><div class="ci-block wideMenu"><div class="ci-text">Main Number <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:9902 7777">9902 7777</a></div></div></div></section><p class="hide-on-desktop">&nbsp;</p><div class="grid-100 text-center" *ngIf="service.userValid()==false"><br/><p>You are required to login to access further information.</p><hr/><input [(ngModel)]="service.userPass" aria-label="Enter password to view further content."/></div></section><div class="lists" id="navMen" *ngIf="service.userValid()==true"><div class="aria" role="heading" aria-level="1">Main menu</div><div class="no-pad-margin" *ngFor="let q of queries"><div *ngIf="(q.set || q.choose==true) &amp;&amp; q.show==true" [ngClass]="{'category-item-square': q.id==0 &amp;&amp; q.set==null}"><category-list class="grid-50 mobile-grid-100" [query]="q" (change)="handleUpdate($event)" [ngClass]="{'solo': q.choose==false &amp;&amp; (q.set &amp;&amp; q.set.forceWide==true), 'mainMenu':q.id==0}"></category-list></div></div></div></div><!--============== EDITOR PAGE =================--><div class="clearfix editPanel" *ngIf="!isMobile &amp;&amp; (service.currentQuery &amp;&amp; service.currentQuery.set &amp;&amp; service.editMode==true)" style="position: absolute;left: 0px;top: 50px;width: 410px;"><div class="grid-100 bg-white" style="padding:8px;"><div class="grid-100"><label>Name</label><input style="font-size:18px;font-weight:300;" [(ngModel)]="service.currentQuery.set.name"/><label>CSS Code</label><input style="font-size:18px;font-weight:300;" [(ngModel)]="service.currentQuery.set.part"/><label>HTML file</label><input style="font-size:18px;font-weight:300;" [(ngModel)]="service.currentQuery.set.html"/><br/><br/><label class="grid-30">Parent</label><select [(ngModel)]="service.targetParent" style="width:100%;" (change)="service.moveCategory()"><option *ngFor="let cl of service.categoriesList" [ngValue]="cl" [ngClass]="{'lv0': cl.level==0,'lv1': cl.level==1,'lv2': cl.level==2}">{{spacer(cl.level)}}{{cl.name}}</option></select><label class="grid-30">Icon path</label><input class="grid-70" [(ngModel)]="service.currentQuery.set.icon"/><label class="grid-30">Wide Panel</label><input class="grid-10 suffix-60" [(ngModel)]="service.currentQuery.set.forceWide" type="checkbox"/><label class="grid-30">Major Incident</label><input class="grid-10 suffix-60" [(ngModel)]="service.currentQuery.set.major" type="checkbox"/><label class="grid-30">Two lines<input class="grid-10 suffix-60" [(ngModel)]="service.currentQuery.set.twoLines" type="checkbox"/></label></div><div class="grid-100"><br/><h5 class="grid-100" style="margin:0;">Subcategories</h5><ul style="list-style:none;padding:0;margin:0;"><li class="grid-100" *ngFor="let c of service.currentQuery.set.subcategories; let i=index"><input class="grid-70" [(ngModel)]="c.name"/><div class="grid-30"><a (click)="service.removeItem(i)" style="margin-right:8px;">Remove</a><a (click)="service.moveItem(service.currentQuery.set.subcategories,i,-1)" style="margin-right:4px;"><i class="fa fa-chevron-up"></i></a><a (click)="service.moveItem(service.currentQuery.set.subcategories,i,1)"><i class="fa fa-chevron-down"></i></a></div></li></ul></div><hr/><a (click)="service.addItem()">Add New Category</a><span>&nbsp;|&nbsp;</span><a (click)="service.dumpJson()">Dump JSON</a><div *ngIf="service.currentQuery.set.part=='.l1.sub.otherNumbers'"><div *ngFor="let num of service.appGlobals.numbers.other, let i=index"><div class="grid-100"><input class="grid-60" [(ngModel)]="num.label"/><input class="grid-60" [(ngModel)]="num.ph"/><a class="grid-10" (click)="service.removeNumber(i)">Remove</a></div><hr/></div><a (click)="service.addNumber()">Add Phone Number</a><p>NOTE: You will need to navigate back then return to Other numbers to see your modifications.</p></div><textarea [ngModel]="categoryData"></textarea></div></div><div class="clearfix"></div><!--============== FOOTER PAGE =================--><div *ngIf="showSplash==false || isMobile==false"><br class="hide-on-desktop"/><br/><br/><div class="footer text-center" *ngIf="queries[0] &amp;&amp; !queries[0].set || isMobile" role="contentinfo"><img src="assets/images/logo/monash.png" alt="Monash University logo"/><p>&copy; Monash University 2017</p></div></div><div class="clearfix"></div></div></div></main>
