assets/html/misc.pug
.content-data
  .top.l1
    p Description about Team Monash
  .l1.sub.numbers
    h1.heading Emergency Numbers
    ul
      li#mainNumber

  .l1.sub.otherNumbers
    .heading Other Emergency Numbers
    ul#others


  .l1.sub.glossary
    h1.heading Glossary
    table#gloss
      h3 CMR
      p Crisis Management and Recovery arrangements in accordance with Monash University's
      p Crisis Management Policy/Procedures and Crisis Management and Recovery Manual
      h3 CMR-LIRP
      p Crisis Management and Recovery – Local Incident Response Plan
      h3 CMR-LIRT
      p Crisis Management and Recovery – Local Incident Response Team
      h3 CMR-Ops
      p Crisis Management and Recovery Corporate Operational Team
      h3 Crisis
      p Crisis is an adverse event, or series of events that have the potential to seriously damage
      p Monash University organisation’s people, operations reputation or property
      h3 Crisis Management
      p Crisis Management is the development of a system to minimise the impact of a crisis on an organisations people, business, operations and/or reputation and to assist an organisation to recover from such an event
      h3 Emergency
      p An emergency is a sudden, unexpected event that requires an immediate response from internal or external emergency services
      h3 Emergency Management
      p Emergency Management is the development of an effective incident response system focused on controlling the event through the use of existing:
        ul
          li Evacuation Plans
          li OHS Procedures
          li Standard Operating Procedures
        p that requires an immediate response.
      h3 Emergency Response Procedures
      p A documented scheme of assigned responsibilities, actions and procedures within a designated section of the emergency response plan, to respond to and manage emergencies.
      h3 Evacuation
      p The orderly movement of people from a place of danger Facility A building, structure or workplace that is, or may be, occupied by people (staff, students
  and visitors)
    h3 Incident Log
    p Summary of decisions made and actions delegated during an emergency or incident
    h3 Event Leader
    p Any person in a leadership position at the event. Could include, camp coordinators, clubcommittee, team organiser. Does not include Senior Event Manager or LIRT Leader
    h3 SOPs
    p Standard Operational Procedures
    h3 SEM
    p Senior Event Manager, most senior person attending the event.
    h3 LIRT Leader
    p Person responsible for managing the Local Incident Response Team
    h3 Warden
    p A person available on-site, with clearly defined responsibilities in relation to the facility's Emergency Response Plans. A warden will oversee the evacuation and lockdown processes of a facility / area

assets/html/misc.html
<div class="content-data"><div class="top l1"><p>Description about Team Monash</p></div><div class="l1 sub numbers"><h1 class="heading">Emergency Numbers</h1><ul><li id="mainNumber"></li></ul></div><div class="l1 sub otherNumbers"><div class="heading">Other Emergency Numbers</div><ul id="others"></ul></div><div class="l1 sub glossary"><h1 class="heading">Glossary</h1><table id="gloss"><h3>CMR</h3><p>Crisis Management and Recovery arrangements in accordance with Monash University's</p><p>Crisis Management Policy/Procedures and Crisis Management and Recovery Manual</p><h3>CMR-LIRP</h3><p>Crisis Management and Recovery – Local Incident Response Plan</p><h3>CMR-LIRT</h3><p>Crisis Management and Recovery – Local Incident Response Team</p><h3>CMR-Ops</h3><p>Crisis Management and Recovery Corporate Operational Team</p><h3>Crisis</h3><p>Crisis is an adverse event, or series of events that have the potential to seriously damage</p><p>Monash University organisation’s people, operations reputation or property</p><h3>Crisis Management</h3><p>Crisis Management is the development of a system to minimise the impact of a crisis on an organisations people, business, operations and/or reputation and to assist an organisation to recover from such an event</p><h3>Emergency</h3><p>An emergency is a sudden, unexpected event that requires an immediate response from internal or external emergency services</p><h3>Emergency Management</h3><p>Emergency Management is the development of an effective incident response system focused on controlling the event through the use of existing:<ul><li>Evacuation Plans</li><li>OHS Procedures</li><li>Standard Operating Procedures</li></ul><p>that requires an immediate response.</p></p><h3>Emergency Response Procedures</h3><p>A documented scheme of assigned responsibilities, actions and procedures within a designated section of the emergency response plan, to respond to and manage emergencies.</p><h3>Evacuation</h3><p>The orderly movement of people from a place of danger Facility A building, structure or workplace that is, or may be, occupied by people (staff, students</p></table></div><and>visitors)<h3>Incident Log</h3><p>Summary of decisions made and actions delegated during an emergency or incident</p><h3>Event Leader</h3><p>Any person in a leadership position at the event. Could include, camp coordinators, clubcommittee, team organiser. Does not include Senior Event Manager or LIRT Leader</p><h3>SOPs</h3><p>Standard Operational Procedures</p><h3>SEM</h3><p>Senior Event Manager, most senior person attending the event.</p><h3>LIRT Leader</h3><p>Person responsible for managing the Local Incident Response Team</p><h3>Warden</h3><p>A person available on-site, with clearly defined responsibilities in relation to the facility's Emergency Response Plans. A warden will oversee the evacuation and lockdown processes of a facility / area</p></and></div>
