assets/html/team.pug
.content-data
  .top.tm1
    p Description about Team Monash

  .tm2.s1
    .code 2.01
    h1.heading 2.01 Appeals Against Non-Selection

    ul

      li If the participant is unhappy with their non-selection decision, then the Leader should advise them to contact the SEM and outline their complaint.
      li Following communication between the SEM and the disgruntled participant the SEM needs to determine whether the individual was not selected on merit or whether there were other motives behind the non-selection (discrimination, history, etc.).
      li If it is found that the individual has not been selected on merit, then the complaint should be dismissed by the SEM.
      li If it is found that the individual has not been selected for reasons other than merit, then the SEM should investigate.
      li If the SEM finds that the individual has been discriminated against or vilified, or that a personal issue exists between current team member(s) and the participant, then follow steps outlined in General Misconduct.
  .tm2.s2
    .code 2.02
    h1.heading 2.02 Arrest of Participant

    ul

      li If the SEM assessment of the Incident is it is a minor level eg infringement not an arrest, then the following steps will apply.
      li SEM to attend police station where participant held and inform LIRT Leader
      li SEM/LIRT Leader will meet with the arrested individual and inform them of the disciplinary process arising from this matter.
      li LIRT Leader to initiate agreed sanctions within the Monash University Approved Event Representation Agreement.
      li If participant is to be sent home, then CMR Ops need to be informed of this decision.
      li LIRT Leader to Complete Incident Report Form.
  .tm2.s3
    .code 2.03
    h1.heading 2.03 Assault Physical

    ul

      li Contact SEM with OFF CAMPUS response. SEM will assess incident and if major will escalate to LIRT Leader.
      li If assessed as minor level SEM will advise the victim of what options are available to them, such as contacting the Police.
      li SEM will, if asked to do so by the victim, contact Police.
      li SEM, if asked to do so by the victim, will contact emergency contact.
      li SEM will determine whether there is an ongoing risk to the victim and whether there is a risk or possible risk to other participants.
      li SEM will provide referral information to Monash Counselling Services. Additionally, if asked by the victim, arrange an appointment with the victim and Monash Counselling Services.
      li If the assault is such that other members of the team has been traumatised, SEM will contact Monash Counselling and arrange a de-briefing session with remainder of team.
  .tm2.s4
    .code 2.04
    h1.heading 2.04 Sexual Assault

    ul

      li Calm and re-assure the victim and with their permission administer First Aid to your level of training
      li Actively listen. Try not to interrupt. Let them talk at their own pace. Do not say anything that indicates that you are judging or blaming them.
      li Advise the victim not to wash any part of themselves and not to change any of their clothing as this may result in destruction of crucial evidence.  
      li Notify SEM. SEM will escalate to Monash University Security <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:9902 7777">9902 7777</a> #1 and also to the Local Incident Response Team Leader
      li Advise that there are services available to them to gain expert advice and support. With their permission facilitate contact with their preferred agency e.g. Victoria Police, SECASA 24hrs number <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:1800 737 732">1800 737 732</a>, Safer Community Unit.
      li Provide the victim with the contact details of support services available to them
      li  If the assault is such that the participant’s team or other team members have been traumatised, the LIRT Leader will contact Monash Counselling and arrange a de-briefing session with affected individuals or teams.
  .tm2.s5
    .code 2.05
    h1.heading 2.05 Bodily Fluid Clean Up

    ul

      li Keep other persons away from the immediate area.
      li Event Coordinator or SEM to organise for the removal of the spillage. Ensure PPE is worn.
      li Assess area to ensure no further risk to others.
  .tm2.s6
    .code 2.06
    h1.heading 2.06 Bullying, Hazing and Victimisation

    ul

      li SEM should investigate the report
      li If found to be of a minor nature the SEM will advise the participant that their behaviour is contrary to the Code of Conduct/Participation Agreement, etc., that this behavior must cease immediately and not occur again and may apply the applicable sanction as outlined in the Monash University Approved  event representation agreement.
      li If the participant does not comply with the requests of the SEM or the misconduct is rated as a Level 2 Breach, the SEM shall notify the LIRT Leader.
      li LIRT Leader will determine what action should be taken and advise the participant of the application of the University Disciplinary procedure. The sanctions applied may include removal of the participant accreditation.
      li If the LIRT Leader determines that the participant’s accreditation is to be withdrawn for the remainder of the event then the University CMR and event organizers should be notified.
  .tm2.s7
    .code 2.07
    h1.heading 2.07 Death of Participant

    ul

      li While a you are administering First Aid, get someone to
    ul
      li Firstly, call <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and request an Ambulance and the presence of Police;
      li Secondly to alert the First Aider who will take over the first aid and shall administer first aid to their level of training; and
      li Thirdly to notify the Event Coordinator/Venue management.
    ul

      li Notify SEM or LIRT Leader with OFF CAMPUS response.
      li LIRT Leader will escalate to CMR. CMR will assume control of situation as it affects Monash University team members.
  .tm2.s8
    .code 2.08
    h1.heading 2.08 Death of a Relative/Close Friend

    ul

      li Subject to advice provided in 1 the SEM should meet with the participant as soon as possible.
      li Offer and arrange on behalf of the participant, support by means of:
    ul
      li access to counselling;
      li access to a private room;
      li assistance with travel arrangements;
      li contacting emergency contact of the participant, etc.
    ul

      li SEM should inform the team/group of the situation.
  .tm2.s9
    .code 2.09
    h1.heading 2.09 Documentation Loss

    ul

      li If not found Event Leader should inform all members of the team or group that the individual has lost their identification and request that they look for it amongst their belongings.
      li In the instance that all identification has been lost the SEM should be informed of the matter.
      li The participant may report the papers lost to the state police and leave their contact details.
      li In the instant the participant has no identification, they should contact their emergency contact and have them email, text etc. an image of an alternate ID or their passport.  If time permits, they should post an ID to the participant for use later in the event.
      li Event Leader should advise participant to cancels credit and debit cards in the instant these are lost along with ID.  If the participant no longer has access to money because of this follow the Money Issues protocol.
      li Event Leader should inform the SEM when the participant has their new ID.
  .tm2.s10
    .code 2.10
    h1.heading 2.10 Drug Impaired Participant – Dealing and/or Possession

    ul

      li If the allegation warrants further investigation, Event Leader must contact SEM and advise them of the situation using OFF CAMPUS response.
      li SEM in conjunction with Local Incident Response Team will assess facts of incident. If an offence has occurred than the SEM will advise LIRT Leader who will escalate accordingly.
  .tm2.s11
    .code 2.11
    h1.heading 2.11 Drug Overdose

    ul

      li If a participant is unconscious, unresponsive, unable to hold a conversation, contact Ambulance services on <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and inform them of the situation.
      li Contact SEM using OFF CAMPUS response.
      li SEM will determine whether there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants, or other participants of the wider MON group.
      li SEM will notify LIRT Leader who will escalate to CMR.
  .tm2.s12
    .code 2.12
    h1.heading 2.12 Expulsion from Accommodation – Individual

    ul

      li SEM to contact accommodation and find out their reasons for the expulsion from accommodation.
      li In conjunction with the LIRT Leader, the SEM needs to determine the severity of the reason for the expulsion.  This decision leads to responses below:
    ul
      li SEM to warn individual that their behaviour is not acceptable
      li SEM may arrange for alternate accommodation for the remainder of the event period.  The cost of these charges will be incurred by the individual
      li In an instance this is not possible, the individual might be required to withdraw from the event
      li If the participant is forced to withdraw from the event, then the SEM should notify the LIRT Leader of this decision.
      li SEM Notifies LIRT Leader who then instigates the University disciplinary process.
  .tm2.s13
    .code 2.13
    h1.heading 2.13 Expulsion from Accommodation – Team/Group

    ul

      li SEM to contact accommodation and find out their reasons for the expulsion from the accommodation.
      li The SEM needs to determine the severity of the reason for the expulsion.  This decision leads to the responses below:
    ul
      li SEM to warn the team that their behaviour is not acceptable
      li SEM may arrange for alternate accommodation for the event.  The cost of these changes will usually be incurred by the team
      li In an instance this is not possible, the team might be required to withdraw from the event then the SEM should notify the LIRT Leader of this decision.
      li If the matter is deemed the responsibility of an individual within the team, then apply 2.12.
      li SEM to notify LIRT Leader
  .tm2.s14
    .code 2.14
    h1.heading 2.14 Extreme Threat

    ul

      li Event Leader should notify SEM when safe to do so
      li Move everyone to the nominated assembly area / meeting point.
      li All participants shall rendezvous at the evacuation assembly area, where the Event Leader (or delegate) shall call the roll to ensure that all participants are accounted for.
      li SEM to determine if there is an ongoing risk to the participants and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants.
  .tm2.s15
    .code 2.15
    h1.heading 2.15 Family Violence/Intervention Orders
    ul
      li SEM to be notified who will determine the risk and any actions to be taken.
      li If a physical assault occurs, follow the protocols under Assault (Physical)
      li If verbal abuse and/or harassment occurs, SEM is required to follow the following protocols:
        ul
          li Misconduct of a Participant
          li Suspicious Persons or Unauthorised Visitors
  .tm2.s16
    .code 2.16
    h1.heading 2.16 Fire – At Event

    ul

      li Follow emergency processes as instructed by venue wardens
      li Event Leader must notify SEM
      li All event staff and participants shall rendezvous at the evacuation assembly area, where the Event Leader (or delegate) shall call the roll to ensure that all participants are accounted for.
      li SEM shall determine if there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants.
      li SEM shall inform LIRT Leader of assessment and actions.
  .tm2.s17
    .code 2.17
    h1.heading 2.17 Fire – At Residence

    ul

      li If it is SAFE to do so where the fire is small and if you have been trained in the use of fire extinguishers or fire blankets, use an appropriate fire extinguisher or fire blanket to put the fire out.
      li  Follow emergency processes as instructed by venue wardens
      li Leader must notify SEM
      li All event staff and participants shall rendezvous at the evacuation assembly area, where the Event Leader (or delegate) shall call the roll to ensure that all Monash University participants are accounted for.
      li SEM shall determine if there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants.
      li SEM shall advise LIRT Leader, Event organiser and Accommodation provider of the incident.
  .tm2.s18
    .code 2.18
    h1.heading 2.18 Flight Cancellation / Missed flight

    ul

      li Event Leader should notify SEM.
      li If the participant cannot make alternative arrangements to attend eg airline reschedules seat etc and cannot participate the person responsible at the activity will advise event organiser.
      li If the matter occurs on the return journey no Monash University participants will be left stranded. The SEM will assist the participants with booking another flight and any additional expense incurred on their behalf will be reimbursed to the University.
  .tm2.s19
    .code 2.19
    h1.heading 2.19 Food Poisoning

    ul

      li Where applicable the Event Leader should contact the First Aid Officer who can administer first aid to their level of training.
      li Event Leader should notify SEM.
      li SEM to determine the best course of action to take in respect of obtaining proper health care for the participant and others in team.
  .tm2.s20
    .code 2.20
    h1.heading 2.20 Injury – Minor (Treatment/Referral)

    ul

      li If injury worsens they might require additional treatment. In this instance the Event Leader should advise SEM.
      li SEM should ensure a team member is to accompany the athlete to the hospital or treatment centre.
      li If the incident is deemed serious by the medical personnel and an ambulance should be called the SEM should be notified immediately
      li If the situation becomes life threatening during treatment, follow 2.21 ‘Injury - life threatening protocols’.
  .tm2.s21
    .code 2.21
    h1.heading 2.21 Injury – Major (Life threatening)

    ul

      li While a you are administering First Aid, get someone to
    ul
      li Firstly, call <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and request an Ambulance and the presence of Police;
      li Secondly to alert the First Aider who will take over the first aid and shall administer first aid to their level of training; and
      li Thirdly to notify the SEM/Venue management.
    ul

      li SEM should LIRT Leader with OFF CAMPUS response.
      li LIRT Leader and CMR will assume control of situation as it affects Monash University team members.
  .tm2.s22
    .code 2.22
    h1.heading 2.22 Intoxicated Participant – Minor Intoxication

    ul

      li If the participant is not at their accommodation the Event Leader and team members should ensure the effected individual is escorted to accommodation.
      li Depending on level of intoxication the participant might require monitoring throughout the night.  If the condition of the effected participant worsens follow steps in Intoxicated Participant – Major Intoxication.
      li Notify SEM with OFF CAMPUS response.
  .tm2.s23
    .code 2.23
    h1.heading 2.23 Intoxicated Participant – Major Intoxication

    ul

      li If a participant is unconscious (unarousable and/or unresponsive) contact ambulance service on <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and inform them of the situation.
      li If the participant is violent and aggressive, call Venue/Event/Accommodation Security (where applicable).
      li Try to calm the participant down.  If the participant threatens you, leave immediately.  Do not continue to intervene or put yourself at any risk.  If possible, prevent other participants from putting themselves at risk by advising them to keep away from the general area.
      li Call <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and request Police presence if they believe that the situation warrants such action.
      li Event Leader to notify SEM with OFF CAMPUS Response.
  .tm2.s24
    .code 2.24
    h1.heading 2.24 Misconduct (General) – Individual

    ul

      li SEM will investigate the Report
      li If found to be of a minor nature the SEM will advise the participant that their behaviour is contrary to the Code of Conduct/Participation Agreement, etc., that this behaviour must cease immediately and not occur again and may apply the applicable sanction.
      li If the participant does not comply person responsible at the activity shall notify the LIRT Leader.
      li If the participant does not comply with the requests of the person responsible at the activity or the misconduct is rated as a Level 2 Breach, the person responsible at the activity shall notify the LIRT LEADER.
      li LIRT LEADER will determine what action should be taken and advise the participant of the application of the University Disciplinary procedure. The sanctions applied may include removal of the participant accreditation.
      li If the LIRT LEADER determines that the participant’s accreditation is to be withdrawn for the remainder of the event then the University CMR Coordinator and event organizers should be notified.
  .tm2.s25
    .code 2.25
    h1.heading 2.25 Misconduct (General) – Team

    ul

      li In response to discussions with the Event Leader and senior team members the SEM should determine the course of action. The severity of the misconduct will determine the nature of the sanction applied by the University.
      li If misconduct is minor, the team in question will be advised that their behaviour is contrary to the Code of Conduct/Participation Agreement, and that they must cease the offending behaviour immediately; and informed that if behaviour continues sanctions might be put in place. Explain the impact of the group/team’s behaviour on other parties.
      li Give the team possible solutions to modify its behaviour.
      li If the team does not comply with the requests of the SEM or the misconduct is rated as a Level 2 breach, the LIRT LEADER shall be notified.
      li  LIRT LEADER will determine what action should be taken and advise the participants of the application of the University Disciplinary procedure. The sanctions applied may include removal of the participant’s accreditation.
      li If the LIRT LEADER determines that the team member’s accreditations are to be withdrawn for the remainder of the event then the University CMR Coordinator and event organizers should be notified.
  .tm2.s26
    .code 2.26
    h1.heading 2.26 Missing Person

    ul

      li If this is not successful, establish when the last time the missing participant was seen by a team member.
      li Obtain details regarding their last known whereabouts.
      li Provide the missing participant’s full details and emergency contact details to SEM who will escalate to LIRT LEADER.
  .tm2.s27
    .code 2.27
    h1.heading 2.27 Money Issues

    ul
      li As soon as team member/event Leader become aware of a money issue with a participant contact SEM.
      li Request that the participant contact their emergency contact in order to receive financial assistance for the event period.
      li SEM to monitor situation for remainder of event.
  .tm2.s28
    .code 2.28
    h1.heading 2.28 Motor Accident

    ul

      li Contact SEM especially if accident will impact on sport event timings.
  .tm2.s29
    .code 2.29
    h1.heading 2.29 Participant Withdrawal – Pre-Registration

    ul

      li If requested by the coach, the TO should ask individuals that unsuccessfully trialled if they were interested in joining the team.
      li TO should contact the replacement player and inform them of their selection, this process should occur until a replacement is found.
      li UTM should be informed of the player’s withdrawal from the program and (where applicable) who has replaced them.
      li TO should ensure replacement participant completes required documentation as soon as possible (emergency contact forms and pre conditions set by University).  TO will then send these to UTM for vetting and then to the LIRT LEADER for approval.
  .tm2.s30
    .code 2.30
    h1.heading 2.30 Participant Withdrawal – Post-Registration

    ul

      li At the request of the coach the TO should look for a replacement player.
      li UTM should be informed of the participant’s decision to withdraw from the event and (where applicable) that this participant has been replaced.
      li In the instance a replacement player is located:
    ul
      li The initial athlete that has withdrawn from competition will not lose the money initially paid at the time of registration.  When a player transfer is made, the cost incurred is a transfer fee rather than the full cost of registration.
      li The TO and participants involved in this player replacement should negotiate to work out which is the best way to cover the cost of the transfer fee and the registration. (Usually the team covers the transfer fee and the replacement player sends the cost of registration to the player they have replaced).
    ul

    ul
      li Then the cost of withdrawing from the event is usually incurred by the participant.
      li The withdrawing participant, or the TO on behalf of the participant can submit a request to the UTM who will send this through to AUS depending on the circumstance of their withdrawal and a refund can for some costs may be made.
  .tm2.s31
    .code 2.31
    h1.heading 2.31 Psychological Distress (Extreme)

    ul

      li If you feel that you are in danger, leave immediately. Do not continue to intervene if putting yourself at any risk.
      li If possible, prevent other participants from putting themselves at risk by advising them to keep away from the general area.
      li If there is an immediate risk of harm to either the distressed participant and/or other participants request someone to phone <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> (for Police and Paramedics).
      li If the participant has harmed themselves (and it is safe to do so), treat with first aid.
      li Contact SEM with OFF CAMPUS Response
      li SEM to determine if there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants.
      li If the situation is not dangerous provide support by means of:
    ul
      li Calling the nearest Crisis Assessment & Treatment Service (CATS). Contact details for state-wide CATS listed on the next page and can also be found at <a href="http://health.vic.gov.au/mentalhealth/services/adult/" target="_blank" >http://health.vic.gov.au/mentalhealth/services/adult/</a>.
      li Providing referral information to Monash Counselling
      li Contacting the participant’s emergency contact if approved to do so.
  .tm2.s32
    .code 2.32
    h1.heading 2.32 Social Media Posts (Negative)

    ul

      li All efforts to remove the post will then be applied by the SEM and these actions recorded in the Incident log.
      li SEM to contact any person(s) referred to in offending materials and ensure their wellbeing. SEM may refer matter to LIRT LEADER
      li If the situation is not dangerous provide support by means of:
    ul
      li Calling the nearest Crisis Assessment & Treatment Service (CATS). Contact details for state-wide CATS listed on the next page and can also be found at <a href="http://health.vic.gov.au/mentalhealth/services/adult/" target="_blank" >http://health.vic.gov.au/mentalhealth/services/adult/</a>.
      li Providing referral information to Monash Counselling
    ul

  .tm2.s33
    .code 2.33
    h1.heading 2.33 Suicide Risk*/Attempted Suicide

    ul

      li Prevent other participants from putting themselves at risk by advising them to keep away from the general area.
      li If there is an immediate risk of harm to either the participant and/or other participants, call Emergency Services on <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> using any phone, and/or call venue or event security.
      li Notify SEM with OFF CAMPUS Response

  .tm2.s34
    .code 2.34
    h1.heading 2.34 Suspicious Person/Unauthorised Visitor at Accommodation / Venue

    ul

      li The Event Leader shall contact the SEM.
      li If it is confirmed that the visitor is unauthorised, SEM shall request the appropriate responsible authority to request /remove the person from the event location and immediate area.
      li Determine if there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants which could include calling the police, evacuating and/or locking down the immediate area until Police arrive.
  .tm2.s35
    .code 2.35
    h1.heading 2.35 Theft from Participant

    ul

      li SEM will confirm with the victim that the theft that has taken place and all facts verified.
      li The severity of the theft is to be determined by the person responsible at the activity which may be escalated in accordance with Impact Assessment.
  .tm2.s36
    .code 2.36
    h1.heading 2.36 Theft by Participant

    ul

      li SEM to investigate the allegations and validate allegation.
      li For a minor theft, the SEM in conjunction with the Event Leader and those involved in the incident are to determine whether the stolen items can be returned.
      li For a major theft, refer matter to police and implement <span id="myLink" class="linker" data-csslink='.tm2.s2'>2.02 Arrest of participant<span>.

assets/html/team.html
<div class="content-data"><div class="top tm1"><p>Description about Team Monash</p></div><div class="tm2 s1"><div class="code">2.01</div><h1 class="heading">2.01 Appeals Against Non-Selection</h1><ul><li>If the participant is unhappy with their non-selection decision, then the Leader should advise them to contact the SEM and outline their complaint.</li><li>Following communication between the SEM and the disgruntled participant the SEM needs to determine whether the individual was not selected on merit or whether there were other motives behind the non-selection (discrimination, history, etc.).</li><li>If it is found that the individual has not been selected on merit, then the complaint should be dismissed by the SEM.</li><li>If it is found that the individual has not been selected for reasons other than merit, then the SEM should investigate.</li><li>If the SEM finds that the individual has been discriminated against or vilified, or that a personal issue exists between current team member(s) and the participant, then follow steps outlined in General Misconduct.</li></ul></div><div class="tm2 s2"><div class="code">2.02</div><h1 class="heading">2.02 Arrest of Participant</h1><ul><li>If the SEM assessment of the Incident is it is a minor level eg infringement not an arrest, then the following steps will apply.</li><li>SEM to attend police station where participant held and inform LIRT Leader</li><li>SEM/LIRT Leader will meet with the arrested individual and inform them of the disciplinary process arising from this matter.</li><li>LIRT Leader to initiate agreed sanctions within the Monash University Approved Event Representation Agreement.</li><li>If participant is to be sent home, then CMR Ops need to be informed of this decision.</li><li>LIRT Leader to Complete Incident Report Form.</li></ul></div><div class="tm2 s3"><div class="code">2.03</div><h1 class="heading">2.03 Assault Physical</h1><ul><li>Contact SEM with OFF CAMPUS response. SEM will assess incident and if major will escalate to LIRT Leader.</li><li>If assessed as minor level SEM will advise the victim of what options are available to them, such as contacting the Police.</li><li>SEM will, if asked to do so by the victim, contact Police.</li><li>SEM, if asked to do so by the victim, will contact emergency contact.</li><li>SEM will determine whether there is an ongoing risk to the victim and whether there is a risk or possible risk to other participants.</li><li>SEM will provide referral information to Monash Counselling Services. Additionally, if asked by the victim, arrange an appointment with the victim and Monash Counselling Services.</li><li>If the assault is such that other members of the team has been traumatised, SEM will contact Monash Counselling and arrange a de-briefing session with remainder of team.</li></ul></div><div class="tm2 s4"><div class="code">2.04</div><h1 class="heading">2.04 Sexual Assault</h1><ul><li>Calm and re-assure the victim and with their permission administer First Aid to your level of training</li><li>Actively listen. Try not to interrupt. Let them talk at their own pace. Do not say anything that indicates that you are judging or blaming them.</li><li>Advise the victim not to wash any part of themselves and not to change any of their clothing as this may result in destruction of crucial evidence.  </li><li>Notify SEM. SEM will escalate to Monash University Security <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:9902 7777">9902 7777</a> #1 and also to the Local Incident Response Team Leader</li><li>Advise that there are services available to them to gain expert advice and support. With their permission facilitate contact with their preferred agency e.g. Victoria Police, SECASA 24hrs number <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:1800 737 732">1800 737 732</a>, Safer Community Unit.</li><li>Provide the victim with the contact details of support services available to them</li><li> If the assault is such that the participant’s team or other team members have been traumatised, the LIRT Leader will contact Monash Counselling and arrange a de-briefing session with affected individuals or teams.</li></ul></div><div class="tm2 s5"><div class="code">2.05</div><h1 class="heading">2.05 Bodily Fluid Clean Up</h1><ul><li>Keep other persons away from the immediate area.</li><li>Event Coordinator or SEM to organise for the removal of the spillage. Ensure PPE is worn.</li><li>Assess area to ensure no further risk to others.</li></ul></div><div class="tm2 s6"><div class="code">2.06</div><h1 class="heading">2.06 Bullying, Hazing and Victimisation</h1><ul><li>SEM should investigate the report</li><li>If found to be of a minor nature the SEM will advise the participant that their behaviour is contrary to the Code of Conduct/Participation Agreement, etc., that this behavior must cease immediately and not occur again and may apply the applicable sanction as outlined in the Monash University Approved  event representation agreement.</li><li>If the participant does not comply with the requests of the SEM or the misconduct is rated as a Level 2 Breach, the SEM shall notify the LIRT Leader.</li><li>LIRT Leader will determine what action should be taken and advise the participant of the application of the University Disciplinary procedure. The sanctions applied may include removal of the participant accreditation.</li><li>If the LIRT Leader determines that the participant’s accreditation is to be withdrawn for the remainder of the event then the University CMR and event organizers should be notified.</li></ul></div><div class="tm2 s7"><div class="code">2.07</div><h1 class="heading">2.07 Death of Participant</h1><ul><li>While a you are administering First Aid, get someone to</li></ul><ul><li>Firstly, call <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and request an Ambulance and the presence of Police;</li><li>Secondly to alert the First Aider who will take over the first aid and shall administer first aid to their level of training; and</li><li>Thirdly to notify the Event Coordinator/Venue management.</li></ul><ul><li>Notify SEM or LIRT Leader with OFF CAMPUS response.</li><li>LIRT Leader will escalate to CMR. CMR will assume control of situation as it affects Monash University team members.</li></ul></div><div class="tm2 s8"><div class="code">2.08</div><h1 class="heading">2.08 Death of a Relative/Close Friend</h1><ul><li>Subject to advice provided in 1 the SEM should meet with the participant as soon as possible.</li><li>Offer and arrange on behalf of the participant, support by means of:</li></ul><ul><li>access to counselling;</li><li>access to a private room;</li><li>assistance with travel arrangements;</li><li>contacting emergency contact of the participant, etc.</li></ul><ul><li>SEM should inform the team/group of the situation.</li></ul></div><div class="tm2 s9"><div class="code">2.09</div><h1 class="heading">2.09 Documentation Loss</h1><ul><li>If not found Event Leader should inform all members of the team or group that the individual has lost their identification and request that they look for it amongst their belongings.</li><li>In the instance that all identification has been lost the SEM should be informed of the matter.</li><li>The participant may report the papers lost to the state police and leave their contact details.</li><li>In the instant the participant has no identification, they should contact their emergency contact and have them email, text etc. an image of an alternate ID or their passport.  If time permits, they should post an ID to the participant for use later in the event.</li><li>Event Leader should advise participant to cancels credit and debit cards in the instant these are lost along with ID.  If the participant no longer has access to money because of this follow the Money Issues protocol.</li><li>Event Leader should inform the SEM when the participant has their new ID.</li></ul></div><div class="tm2 s10"><div class="code">2.10</div><h1 class="heading">2.10 Drug Impaired Participant – Dealing and/or Possession</h1><ul><li>If the allegation warrants further investigation, Event Leader must contact SEM and advise them of the situation using OFF CAMPUS response.</li><li>SEM in conjunction with Local Incident Response Team will assess facts of incident. If an offence has occurred than the SEM will advise LIRT Leader who will escalate accordingly.</li></ul></div><div class="tm2 s11"><div class="code">2.11</div><h1 class="heading">2.11 Drug Overdose</h1><ul><li>If a participant is unconscious, unresponsive, unable to hold a conversation, contact Ambulance services on <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and inform them of the situation.</li><li>Contact SEM using OFF CAMPUS response.</li><li>SEM will determine whether there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants, or other participants of the wider MON group.</li><li>SEM will notify LIRT Leader who will escalate to CMR.</li></ul></div><div class="tm2 s12"><div class="code">2.12</div><h1 class="heading">2.12 Expulsion from Accommodation – Individual</h1><ul><li>SEM to contact accommodation and find out their reasons for the expulsion from accommodation.</li><li>In conjunction with the LIRT Leader, the SEM needs to determine the severity of the reason for the expulsion.  This decision leads to responses below:</li></ul><ul><li>SEM to warn individual that their behaviour is not acceptable</li><li>SEM may arrange for alternate accommodation for the remainder of the event period.  The cost of these charges will be incurred by the individual</li><li>In an instance this is not possible, the individual might be required to withdraw from the event</li><li>If the participant is forced to withdraw from the event, then the SEM should notify the LIRT Leader of this decision.</li><li>SEM Notifies LIRT Leader who then instigates the University disciplinary process.</li></ul></div><div class="tm2 s13"><div class="code">2.13</div><h1 class="heading">2.13 Expulsion from Accommodation – Team/Group</h1><ul><li>SEM to contact accommodation and find out their reasons for the expulsion from the accommodation.</li><li>The SEM needs to determine the severity of the reason for the expulsion.  This decision leads to the responses below:</li></ul><ul><li>SEM to warn the team that their behaviour is not acceptable</li><li>SEM may arrange for alternate accommodation for the event.  The cost of these changes will usually be incurred by the team</li><li>In an instance this is not possible, the team might be required to withdraw from the event then the SEM should notify the LIRT Leader of this decision.</li><li>If the matter is deemed the responsibility of an individual within the team, then apply 2.12.</li><li>SEM to notify LIRT Leader</li></ul></div><div class="tm2 s14"><div class="code">2.14</div><h1 class="heading">2.14 Extreme Threat</h1><ul><li>Event Leader should notify SEM when safe to do so</li><li>Move everyone to the nominated assembly area / meeting point.</li><li>All participants shall rendezvous at the evacuation assembly area, where the Event Leader (or delegate) shall call the roll to ensure that all participants are accounted for.</li><li>SEM to determine if there is an ongoing risk to the participants and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants.</li></ul></div><div class="tm2 s15"><div class="code">2.15</div><h1 class="heading">2.15 Family Violence/Intervention Orders</h1><ul><li>SEM to be notified who will determine the risk and any actions to be taken.</li><li>If a physical assault occurs, follow the protocols under Assault (Physical)</li><li>If verbal abuse and/or harassment occurs, SEM is required to follow the following protocols:<ul><li>Misconduct of a Participant</li><li>Suspicious Persons or Unauthorised Visitors</li></ul></li></ul></div><div class="tm2 s16"><div class="code">2.16</div><h1 class="heading">2.16 Fire – At Event</h1><ul><li>Follow emergency processes as instructed by venue wardens</li><li>Event Leader must notify SEM</li><li>All event staff and participants shall rendezvous at the evacuation assembly area, where the Event Leader (or delegate) shall call the roll to ensure that all participants are accounted for.</li><li>SEM shall determine if there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants.</li><li>SEM shall inform LIRT Leader of assessment and actions.</li></ul></div><div class="tm2 s17"><div class="code">2.17</div><h1 class="heading">2.17 Fire – At Residence</h1><ul><li>If it is SAFE to do so where the fire is small and if you have been trained in the use of fire extinguishers or fire blankets, use an appropriate fire extinguisher or fire blanket to put the fire out.</li><li> Follow emergency processes as instructed by venue wardens</li><li>Leader must notify SEM</li><li>All event staff and participants shall rendezvous at the evacuation assembly area, where the Event Leader (or delegate) shall call the roll to ensure that all Monash University participants are accounted for.</li><li>SEM shall determine if there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants.</li><li>SEM shall advise LIRT Leader, Event organiser and Accommodation provider of the incident.</li></ul></div><div class="tm2 s18"><div class="code">2.18</div><h1 class="heading">2.18 Flight Cancellation / Missed flight</h1><ul><li>Event Leader should notify SEM.</li><li>If the participant cannot make alternative arrangements to attend eg airline reschedules seat etc and cannot participate the person responsible at the activity will advise event organiser.</li><li>If the matter occurs on the return journey no Monash University participants will be left stranded. The SEM will assist the participants with booking another flight and any additional expense incurred on their behalf will be reimbursed to the University.</li></ul></div><div class="tm2 s19"><div class="code">2.19</div><h1 class="heading">2.19 Food Poisoning</h1><ul><li>Where applicable the Event Leader should contact the First Aid Officer who can administer first aid to their level of training.</li><li>Event Leader should notify SEM.</li><li>SEM to determine the best course of action to take in respect of obtaining proper health care for the participant and others in team.</li></ul></div><div class="tm2 s20"><div class="code">2.20</div><h1 class="heading">2.20 Injury – Minor (Treatment/Referral)</h1><ul><li>If injury worsens they might require additional treatment. In this instance the Event Leader should advise SEM.</li><li>SEM should ensure a team member is to accompany the athlete to the hospital or treatment centre.</li><li>If the incident is deemed serious by the medical personnel and an ambulance should be called the SEM should be notified immediately</li><li>If the situation becomes life threatening during treatment, follow 2.21 ‘Injury - life threatening protocols’.</li></ul></div><div class="tm2 s21"><div class="code">2.21</div><h1 class="heading">2.21 Injury – Major (Life threatening)</h1><ul><li>While a you are administering First Aid, get someone to</li></ul><ul><li>Firstly, call <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and request an Ambulance and the presence of Police;</li><li>Secondly to alert the First Aider who will take over the first aid and shall administer first aid to their level of training; and</li><li>Thirdly to notify the SEM/Venue management.</li></ul><ul><li>SEM should LIRT Leader with OFF CAMPUS response.</li><li>LIRT Leader and CMR will assume control of situation as it affects Monash University team members.</li></ul></div><div class="tm2 s22"><div class="code">2.22</div><h1 class="heading">2.22 Intoxicated Participant – Minor Intoxication</h1><ul><li>If the participant is not at their accommodation the Event Leader and team members should ensure the effected individual is escorted to accommodation.</li><li>Depending on level of intoxication the participant might require monitoring throughout the night.  If the condition of the effected participant worsens follow steps in Intoxicated Participant – Major Intoxication.</li><li>Notify SEM with OFF CAMPUS response.</li></ul></div><div class="tm2 s23"><div class="code">2.23</div><h1 class="heading">2.23 Intoxicated Participant – Major Intoxication</h1><ul><li>If a participant is unconscious (unarousable and/or unresponsive) contact ambulance service on <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and inform them of the situation.</li><li>If the participant is violent and aggressive, call Venue/Event/Accommodation Security (where applicable).</li><li>Try to calm the participant down.  If the participant threatens you, leave immediately.  Do not continue to intervene or put yourself at any risk.  If possible, prevent other participants from putting themselves at risk by advising them to keep away from the general area.</li><li>Call <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> and request Police presence if they believe that the situation warrants such action.</li><li>Event Leader to notify SEM with OFF CAMPUS Response.</li></ul></div><div class="tm2 s24"><div class="code">2.24</div><h1 class="heading">2.24 Misconduct (General) – Individual</h1><ul><li>SEM will investigate the Report</li><li>If found to be of a minor nature the SEM will advise the participant that their behaviour is contrary to the Code of Conduct/Participation Agreement, etc., that this behaviour must cease immediately and not occur again and may apply the applicable sanction.</li><li>If the participant does not comply person responsible at the activity shall notify the LIRT Leader.</li><li>If the participant does not comply with the requests of the person responsible at the activity or the misconduct is rated as a Level 2 Breach, the person responsible at the activity shall notify the LIRT LEADER.</li><li>LIRT LEADER will determine what action should be taken and advise the participant of the application of the University Disciplinary procedure. The sanctions applied may include removal of the participant accreditation.</li><li>If the LIRT LEADER determines that the participant’s accreditation is to be withdrawn for the remainder of the event then the University CMR Coordinator and event organizers should be notified.</li></ul></div><div class="tm2 s25"><div class="code">2.25</div><h1 class="heading">2.25 Misconduct (General) – Team</h1><ul><li>In response to discussions with the Event Leader and senior team members the SEM should determine the course of action. The severity of the misconduct will determine the nature of the sanction applied by the University.</li><li>If misconduct is minor, the team in question will be advised that their behaviour is contrary to the Code of Conduct/Participation Agreement, and that they must cease the offending behaviour immediately; and informed that if behaviour continues sanctions might be put in place. Explain the impact of the group/team’s behaviour on other parties.</li><li>Give the team possible solutions to modify its behaviour.</li><li>If the team does not comply with the requests of the SEM or the misconduct is rated as a Level 2 breach, the LIRT LEADER shall be notified.</li><li> LIRT LEADER will determine what action should be taken and advise the participants of the application of the University Disciplinary procedure. The sanctions applied may include removal of the participant’s accreditation.</li><li>If the LIRT LEADER determines that the team member’s accreditations are to be withdrawn for the remainder of the event then the University CMR Coordinator and event organizers should be notified.</li></ul></div><div class="tm2 s26"><div class="code">2.26</div><h1 class="heading">2.26 Missing Person</h1><ul><li>If this is not successful, establish when the last time the missing participant was seen by a team member.</li><li>Obtain details regarding their last known whereabouts.</li><li>Provide the missing participant’s full details and emergency contact details to SEM who will escalate to LIRT LEADER.</li></ul></div><div class="tm2 s27"><div class="code">2.27</div><h1 class="heading">2.27 Money Issues</h1><ul><li>As soon as team member/event Leader become aware of a money issue with a participant contact SEM.</li><li>Request that the participant contact their emergency contact in order to receive financial assistance for the event period.</li><li>SEM to monitor situation for remainder of event.</li></ul></div><div class="tm2 s28"><div class="code">2.28</div><h1 class="heading">2.28 Motor Accident</h1><ul><li>Contact SEM especially if accident will impact on sport event timings.</li></ul></div><div class="tm2 s29"><div class="code">2.29</div><h1 class="heading">2.29 Participant Withdrawal – Pre-Registration</h1><ul><li>If requested by the coach, the TO should ask individuals that unsuccessfully trialled if they were interested in joining the team.</li><li>TO should contact the replacement player and inform them of their selection, this process should occur until a replacement is found.</li><li>UTM should be informed of the player’s withdrawal from the program and (where applicable) who has replaced them.</li><li>TO should ensure replacement participant completes required documentation as soon as possible (emergency contact forms and pre conditions set by University).  TO will then send these to UTM for vetting and then to the LIRT LEADER for approval.</li></ul></div><div class="tm2 s30"><div class="code">2.30</div><h1 class="heading">2.30 Participant Withdrawal – Post-Registration</h1><ul><li>At the request of the coach the TO should look for a replacement player.</li><li>UTM should be informed of the participant’s decision to withdraw from the event and (where applicable) that this participant has been replaced.</li><li>In the instance a replacement player is located:</li></ul><ul><li>The initial athlete that has withdrawn from competition will not lose the money initially paid at the time of registration.  When a player transfer is made, the cost incurred is a transfer fee rather than the full cost of registration.</li><li>The TO and participants involved in this player replacement should negotiate to work out which is the best way to cover the cost of the transfer fee and the registration. (Usually the team covers the transfer fee and the replacement player sends the cost of registration to the player they have replaced).</li></ul><ul></ul><ul><li>Then the cost of withdrawing from the event is usually incurred by the participant.</li><li>The withdrawing participant, or the TO on behalf of the participant can submit a request to the UTM who will send this through to AUS depending on the circumstance of their withdrawal and a refund can for some costs may be made.</li></ul></div><div class="tm2 s31"><div class="code">2.31</div><h1 class="heading">2.31 Psychological Distress (Extreme)</h1><ul><li>If you feel that you are in danger, leave immediately. Do not continue to intervene if putting yourself at any risk.</li><li>If possible, prevent other participants from putting themselves at risk by advising them to keep away from the general area.</li><li>If there is an immediate risk of harm to either the distressed participant and/or other participants request someone to phone <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> (for Police and Paramedics).</li><li>If the participant has harmed themselves (and it is safe to do so), treat with first aid.</li><li>Contact SEM with OFF CAMPUS Response</li><li>SEM to determine if there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants.</li><li>If the situation is not dangerous provide support by means of:</li></ul><ul><li>Calling the nearest Crisis Assessment & Treatment Service (CATS). Contact details for state-wide CATS listed on the next page and can also be found at <a href="http://health.vic.gov.au/mentalhealth/services/adult/" target="_blank" >http://health.vic.gov.au/mentalhealth/services/adult/</a>.</li><li>Providing referral information to Monash Counselling</li><li>Contacting the participant’s emergency contact if approved to do so.</li></ul></div><div class="tm2 s32"><div class="code">2.32</div><h1 class="heading">2.32 Social Media Posts (Negative)</h1><ul><li>All efforts to remove the post will then be applied by the SEM and these actions recorded in the Incident log.</li><li>SEM to contact any person(s) referred to in offending materials and ensure their wellbeing. SEM may refer matter to LIRT LEADER</li><li>If the situation is not dangerous provide support by means of:</li></ul><ul><li>Calling the nearest Crisis Assessment & Treatment Service (CATS). Contact details for state-wide CATS listed on the next page and can also be found at <a href="http://health.vic.gov.au/mentalhealth/services/adult/" target="_blank" >http://health.vic.gov.au/mentalhealth/services/adult/</a>.</li><li>Providing referral information to Monash Counselling</li></ul><ul></ul></div><div class="tm2 s33"><div class="code">2.33</div><h1 class="heading">2.33 Suicide Risk*/Attempted Suicide</h1><ul><li>Prevent other participants from putting themselves at risk by advising them to keep away from the general area.</li><li>If there is an immediate risk of harm to either the participant and/or other participants, call Emergency Services on <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="telelink" href="tel:000">000</a> using any phone, and/or call venue or event security.</li><li>Notify SEM with OFF CAMPUS Response</li></ul></div><div class="tm2 s34"><div class="code">2.34</div><h1 class="heading">2.34 Suspicious Person/Unauthorised Visitor at Accommodation / Venue</h1><ul><li>The Event Leader shall contact the SEM.</li><li>If it is confirmed that the visitor is unauthorised, SEM shall request the appropriate responsible authority to request /remove the person from the event location and immediate area.</li><li>Determine if there is an ongoing risk to the participant and whether there is a risk or possible risk to other participants and take any action that is required to maintain the safety of all participants which could include calling the police, evacuating and/or locking down the immediate area until Police arrive.</li></ul></div><div class="tm2 s35"><div class="code">2.35</div><h1 class="heading">2.35 Theft from Participant</h1><ul><li>SEM will confirm with the victim that the theft that has taken place and all facts verified.</li><li>The severity of the theft is to be determined by the person responsible at the activity which may be escalated in accordance with Impact Assessment.</li></ul></div><div class="tm2 s36"><div class="code">2.36</div><h1 class="heading">2.36 Theft by Participant</h1><ul><li>SEM to investigate the allegations and validate allegation.</li><li>For a minor theft, the SEM in conjunction with the Event Leader and those involved in the incident are to determine whether the stolen items can be returned.</li><li>For a major theft, refer matter to police and implement <span id="myLink" class="linker" data-csslink='.tm2.s2'>2.02 Arrest of participant<span>.</li></ul></div></div>
